mat-card {
  width: 30%;
  margin: auto;
}

mat-form-field,
input {
  width: 100%;
}

p {
  color: red;
  margin: auto;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 10px 0;
}
